body {
	background-color: #ddd;
}
	h1 {
			font-size: 30px;
			color: teal;
		}

		h2 {
			font-style: 20px;
			color: gray;
		}

		.two {
			color: pink;
		}

		.uppercase {
			text-transform: uppercase;
		}

		.two.uppercase {
			color: navy;
		}

		h1 span {
			color: violet;
}